<div>
    <form action="/greeted" method="get">
        <h1>Greeted people</h1>

        {{#each list}}
            <a href='/counter/{{this.names}}'><p>{{this.names}}</p></a>
        {{/each}}
        
    </form>
    <br>
    <button id="backBtn" type="button"><a href="/">back</a></button>
</div>