<div>
    <h1>Greeted people</h1>
    <table>
        <tr>
            <th>names</th>
            <th>Times greeted</th>
        </tr>
        {{#each greeted}}
        <tr>
            <th>{{client}}</th>
            <th>{{count}}</th>
        </tr>
        {{/each}}
    </table>
</div>