<div>
    <h1>Greeted people</h1>
    <table>
        <thead>
            <tr>
                {{!-- <th>#</th> --}}
                <th>names</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                {{!-- <th>{{this.id}}</th> --}}
                <td>{{names}}</td>
                <td>{{count}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>