<div>
    <h1>Greeted people</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>names</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            {{#each people}}
            <tr>
                <th>{{id}}</th>
                <th>{{names}}</th>
                <th>{{count}}</th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>