<div>
    <h1>Greetings App</h1>

    <form action="/greetings" method="post">
        <div><span>Enter Name</span>
            <input type="text" name="user" class="user"></div>

        <div>
            <label>
                <input type="radio" name="language" class="languageRadio" value="english">
                <span>English</span>
            </label>
            <label>
                <input type="radio" name="language" class="languageRadio" value="isixhosa">
                <span>Isixhosa</span>
            </label>
            <label>
                <input type="radio" name="language" class="languageRadio" value="afrikaans">
                <span>Afrikaans</span>
            </label>
        </div>

        <div>
            <button type="submit"  class="greetBtn">Greet</button>
        </div>
        <div>
            <h3><span>{{greet.greeting}}</span></h3>
            <h2><a href="/greeted"><span>{{counter.count}}</span></a></h2>
        </div>
        <div class="error">
            <h3>
                {{messages.error}}
            </h3>
        </div>
    </form>

</div>